In [1]:
import pandas

In [3]:
df = pandas.read_csv('chessData.csv')

In [4]:
df

                                                        FEN Evaluation
0         rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR ...        -10
1         rnbqkbnr/pppp1ppp/4p3/8/4P3/8/PPPP1PPP/RNBQKBN...        +56
2         rnbqkbnr/pppp1ppp/4p3/8/3PP3/8/PPP2PPP/RNBQKBN...         -9
3         rnbqkbnr/ppp2ppp/4p3/3p4/3PP3/8/PPP2PPP/RNBQKB...        +52
4         rnbqkbnr/ppp2ppp/4p3/3p4/3PP3/8/PPPN1PPP/R1BQK...        -26
...                                                     ...        ...
12958030  r1bqkb1r/pp3ppp/1nn1p3/3pP3/3P1P2/1B3N2/PP2Q1P...         +6
12958031  r2qkb1r/pp1b1ppp/1nn1p3/3pP3/3P1P2/1B3N2/PP2Q1...        +84
12958032  r2qkb1r/pp1b1ppp/1nn1p3/3pP3/3P1P2/1BN2N2/PP2Q...          0
12958033  r2qkb1r/pp1b1ppp/1n2p3/n2pP3/3P1P2/1BN2N2/PP2Q...       +115
12958034  r2qkb1r/pp1b1ppp/1n2p3/n2pP3/3P1P2/2N2N2/PPB1Q...        +45

[12958035 rows x 2 columns]

In [21]:
blackwins=0
for evaluation in df['Evaluation']:
    if(evaluation[0]!='#'):
        try:
            x = int(evaluation)
            if(x>150):
                blackwins+=1
        except ValueError:
            print(evaluation)

﻿+23

In [22]:
int("+23")

23

In [23]:
blackwins

3092516

[0, 1]

In [25]:
tf.keras.utils.to_categorical(
    df['[1'], num_classes=None, dtype='float32'
),tf.keras.utils.to_categorical(
    df[' 2'], num_classes=None, dtype='float32'
),tf.keras.utils.to_categorical(
    df[' 2'], num_classes=None, dtype='float32'
),tf.keras.utils.to_categorical(
    df[' 2'], num_classes=None, dtype='float32'
),tf.keras.utils.to_categorical(
    df[' 2'], num_classes=None, dtype='float32'
),tf.keras.utils.to_categorical(
    df[' 2'], num_classes=None, dtype='float32'
),tf.keras.utils.to_categorical(
    df[' 2'], num_classes=None, dtype='float32'
)

NameError: name 'tf' is not defined